.App {
  font-family: sans-serif;
  text-align: center;
}

table{
  margin: 0 auto;
}

th {
  background-color: rgb(72, 98, 101);
  color: #333;
  padding: 5px 20px;
}

.table-data {
  background-color: rgb(206, 229, 236)
  padding: 5px 10px;
  text-align: center;
}
